.size_guide_modal {
    min-width: 360px;
    width: 100%;
    background-color: rgba(277, 277, 277, 0.05);
    overflow: scroll;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(238, 238, 238, 0.72);
      display: flex;
      justify-content: center;
      z-index: 6;
    }
}
