.swiper-scrollbar {
    padding-right: var(--spacing-size-nine);
    margin-left: var(--spacing-size-nine);
}

.scrollbar-swiper .swiper-horizontal > .swiper-scrollbar,
.scrollbar-swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: unset;
    margin-left: var(--spacing-size-nine);
    margin-right: var(--spacing-size-nine);
}

.swiper-scrollbar-drag {
    background-color: var(--color-brand-black);
    border-radius: 0;
    right: 0;
}

.swiper-scrollbar {
    background-color: var(--color-brand-aluminium);
    border-radius: 0;
}

.swiper-button {
    display: block;
    z-index: 10;
    cursor: pointer;
}

.swiper-icon-disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Vertical swiper gets special styles */
.swiper-vertical {
    overflow-y: hidden;
    overflow-y: clip;
    overflow-x: unset;
    aspect-ratio: 3 / 4;
    /* max-width: 44.375rem; */
    height: 100dvh;
}

.swiper-vertical .swiper-scrollbar {
    position: absolute;
    left: var(--swiper-scrollbar-left, auto);
    right: var(--swiper-scrollbar-right, -18px);
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    width: var(--swiper-scrollbar-size, 1px);
    height: 50%;
    padding: unset;
    margin: unset;
}

.swiper-vertical .swiper-scrollbar-drag {
    width: 100%;
    position: relative;
    background-color: var(--color-brand-black);
}

@media screen and (max-width: 991px) {
    .swiper-scrollbar {
        display: none;
    }

    /* Scrollbar on horizontal pdp swiper gets special styles */
    .swiper-pdp-gallery .swiper-scrollbar {
        --swiper-scrollbar-sides-offset: 24px;
        --swiper-scrollbar-size: 1px;
        display: block;
        position: relative;
        bottom: 0;
        padding: 0;
        margin: 0;
    }

    .scrollbar-swiper .swiper-wrapper {
        padding-bottom: 0;
    }
}
