/* Toggle style */
.toggleGenderButton {
    display: flex;
    background-color: var(--color-brand-cement);
    border: 2px solid var(--color-brand-cement);
    border-radius: var(--border-radius-lg);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.toggleButton {
    padding-left: var(--spacing-size-four);
}
