.root {
    font-family: 'TWK Everett', serif;
    font-size: var(--font-size-component1);
    line-height: var(--line-height-component1);
    font-weight: var(--font-weight-4);
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--spacing-size-two) var(--spacing-size-three);
    white-space: nowrap;
    /* These last two declarations allow for a 'perfect circle' variant of 40 x 40 when the label is a single character (e.g. 'S'). There might be a better way to achieve this? */
    min-width: var(--spacing-size-four);
    justify-content: center;
}

.rootAlt {
    font-family: 'TWK Everett Mono', serif;
    font-size: var(--font-size-component1);
    line-height: var(--line-height-component1);
    font-weight: var(--font-weight-3);
    letter-spacing: -0.5px;
}

.rootNortheast {
    align-items: baseline;
}

.buttonLink {
    text-decoration: none;
}

/* Button Style & Hover */
.base {
    color: var(--color-brand-white);
    background-color: var(--color-brand-black);
}

.base:hover {
    background-color: var(--color-brand-titanium);
}

.ghost {
    border: 1px solid var(--color-brand-black);
}

.ghost:hover {
    border: 1px solid var(--color-brand-titanium);
    color: var(--color-brand-titanium);
}

.secondary {
    background-color: var(--color-brand-white);
    border: 1px solid transparent;
}

.secondary:hover {
    background-color: var(--color-surface-hover-invert);
    color: var(--color-brand-white);
    border: 1px solid var(--color-brand-white);
}

.text {
    text-decoration: underline;
    text-underline-position: under;
}

.text:hover {
    color: var(--color-brand-titanium);
}

.quite:hover {
    color: var(--color-brand-titanium);
}

.quite_alt:hover {
    color: var(--color-brand-titanium);
}

.link_alt {
    text-decoration: underline;
    text-underline-position: under;
}

.link_alt:hover {
    color: var(--color-brand-titanium);
}

.collection {
    background-color: var(--color-brand-aluminium);
}

.collection:hover {
    color: var(--color-brand-white);
    background-color: var(--color-brand-titanium);
}

.discover {
    background-color: var(--color-brand-discover);
    color: var(--color-brand-white);
}

.discover:hover {
    background-color: var(--color-brand-black);
    color: var(--color-brand-white);
}

.checkout {
    background-color: var(--color-brand-pay);
}

.checkout:hover {
    color: var(--color-brand-white);
    background-color: var(--color-brand-pay);
}

.buy {
    background-color: var(--color-brand-buy);
    color: var(--color-brand-white);
}

.buy:hover {
    background-color: var(--color-brand-cement);
}

.active {
    background-color: var(--color-brand-titanium);
    color: var(--color-brand-white);
}

.active:hover {
    background-color: var(--color-brand-white);
    color: var(--color-brand-titanium);
}

.activeQuite {
    color: var(--color-brand-black);
    text-decoration: underline;
}


/* lightQuite*/
.lightQuite {
    color: var(--color-brand-white);
}

.lightQuite:hover {
    color: var(--color-brand-titanium);
}

/* Disabled Styling */
.disabled {
    font-family: 'TWK Everett', serif;
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-component1);
    line-height: var(--line-height-component1);
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    cursor: no-drop;
    padding: var(--spacing-size-two) var(--spacing-size-three);
}

.disabledBase {
    color: var(--color-brand-white);
    background-color: var(--color-brand-aluminium);
}

.disabledGhost {
    color: var(--color-brand-steel);
    border: 1px solid var(--color-brand-steel);
}

.disabledSecondary {
    color: var(--color-brand-steel);
    background-color: var(--color-brand-white);
}

.disabledText {
    color: var(--color-brand-steel);
}

.disabledQuite {
    color: var(--color-brand-steel);
}

/* Inactive styling */
.inactive {
    font-family: 'TWK Everett', serif;
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-component1);
    line-height: var(--line-height-component1);
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    padding: var(--spacing-size-two) var(--spacing-size-three);
}

.inactiveBase {
    color: var(--color-brand-white);
    background-color: var(--color-brand-aluminium);
}

.inactiveSecondary {
    color: var(--color-brand-steel);
    background-color: var(--color-brand-white);
}

.inactiveQuite {
    color: var(--color-brand-steel);
}

.radiusSmall {
    border-radius: var(--border-radius-xxs);
}

.radiusMedium {
    border-radius: var(--border-radius-sm);
}

.radiusLarge {
    border-radius: var(--border-radius-lg);
}

.radiusNone {
    border-radius: 0;
}

/* Icons spacing */
.icon {
    margin-left: var(--spacing-size-two);
}

/* Other controlling options */
.textVariantSpacing {
    padding: var(--spacing-size-two) 0;
}

.paddingZeroInline {
    padding-inline: 0;
}

.paddingZero {
    padding: 0;
}

.rootNortheast {
    align-items: baseline;
}

.buttonLink {
    text-decoration: none;
}
