$colour-brand-primary: rgb(46, 91, 134);
$colour-brand-light-grey: rgb(201, 201, 201);
$colour-brand-medium-grey: rgb(117, 117, 117);
$colour-brand-dark-grey: rgb(66, 66, 66);
$colour-brand-background-grey: rgb(231, 231, 231);
$colour-brand-active-grey: rgb(212, 212, 212);
$colour-brand-selected-grey: rgb(241, 241, 241);
$colour-brand-white: rgb(255, 255, 255);
$colour-brand-black: rgb(0, 0, 0);
$colour-brand-purple: rgb(76, 42, 72);
$colour-brand-navy: rgb(12, 35, 64);
$colour-brand-blue: rgb(0, 0, 255);
$colour-brand-red: rgb(255, 93, 93);
$colour-brand-bundle-green: rgba(190, 255, 0, 1);
